{
  "env": {
    "development": {
      "plugins": [
	      "babel-plugin-styled-components"
      ],
      "presets": ["next/babel"]
    },
    "production": {
      "plugins": [
	      "babel-plugin-styled-components"
      ],
      "presets": ["next/babel"]
    }
  },
  "plugins": [
	  "babel-plugin-styled-components",
	  "@babel/plugin-proposal-class-properties",
	  "@babel/plugin-proposal-private-methods"
  ]
}
