@import '../../styles/variables.scss';

.searchBar {
  display: flex;
  width: 83%;
  border-radius: 10px;
  margin: 85px auto;
  input {
    box-sizing: border-box;
    height: 55px;
    width: calc(100% - 68px);
    padding: 18px 20px;
    font-family: $secondary-font-family;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    border: 1px solid $gun-powder;
    color: $kimberly;
    background-color: rgba($color: $gun-powder, $alpha: 0.35);
    transition: 0.1s ease-in-out;
    &::placeholder {
      color: $kimberly;
    }
    &:focus,
    &:hover {
      outline: none;
      color: $white;
    }
  }
  button {
    height: 55px;
    width: 68px;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 0 10px 10px 0;
    color: $white;
    background: $gun-powder;
    transition: 0.1s ease-in-out;
    &:focus {
      outline: none;
    }
    &:hover {
      color: $gun-powder;
      background: $white;
    }
  }
}
