.chart {
  position: relative;
  width: 100%;
  .tip {
    display: none;
    position: absolute;
    color: var(--white);
    font-family: var(--secondary-font-family);
    font-size: 12px;
    background-color: var(--gun-powder);
    border-radius: 5px;
    padding: 10px;
  }
  svg {
    font-family: var(--primary-font-family);
    font-size: 18px;
    text {
      fill: var(--white);
    }
    g:last-child .hour {
      fill: var(green-yellow);
    }
    .axisCircle {
      fill: none;
      stroke: var(--gun-powder);
    }
  }
}
