@import '../../styles/variables.scss';

.jumbotron {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .map {
    position: relative;
    width: 100%;
    .us,
    .eu,
    .ap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 600;
      font-size: 10px;
      padding: 15px 10px;
      min-width: min(12vw, 215px);
    }
    .us {
      left: 0;
    }
    .eu {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .ap {
      right: 0;
    }
    @media screen and (min-width: 0) and(max-width:340px) {
      .us,
      .eu,
      .ap {
        transform: translateX(-50%);
      }
      .us {
        left: 20%;
        top: 10%;
      }
      .eu {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .ap {
        left: 80%;
        top: 90%;
        transform: translate(-50%, -100%);
      }
    }
    @media screen and (min-width: 840px) {
      .us,
      .eu,
      .ap {
        transform: translateX(-50%);
        font-size: 12px;
        padding: 20px;
      }
      .us {
        top: 25%;
        left: 15%;
      }
      .eu {
        top: 25%;
        left: 50%;
      }
      .ap {
        top: 35%;
        left: 78%;
      }
    }
    @media screen and (min-width: 1200px) {
      .us,
      .eu,
      .ap {
        transform: translateX(-50%);
        font-size: 12px;
        padding: 20px;
      }
      .us {
        top: 33%;
        left: 39%;
      }
      .eu {
        top: 33%;
        left: 61%;
      }
      .ap {
        top: 42%;
        left: 82%;
      }
    }
    .mouseContainer {
      position: absolute;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 24px;
      height: 64px;
      left: calc(50% - 24px);
      bottom: 0;
      .mouse {
        width: 3px;
        height: 18px;
        background: $woodsmoke;
        padding: 8px 10px;
        border: 2px solid $gun-powder;
        border-radius: 20px;
        .scroll {
          width: 3px;
          height: 8px;
          background: $white;
          border-radius: 25%;
          animation: scroll 2.2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
        }
      }
      @media screen and (min-width: 1200px) {
        display: flex;
      }
    }
    @keyframes scroll {
      0% {
        opacity: 0;
      }
      10% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(10px);
        opacity: 0;
      }
    }
  }
  h1 {
    margin: 20px 0 0;
    font-size: min(max(2.2vw, 27px), 42px);
    text-align: center;
    order: -1;
    span {
      white-space: nowrap;
      color: $apple;
    }
    @media screen and (min-width: 900px) {
      order: 0;
    }
  }
  p {
    margin: 30px 0;
    line-height: min(max(1.5vw, 20px), 29px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: min(max(1.2vw, 15px), 24px);
    color: $santas-gray;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    h1,
    p {
      position: absolute;
      align-self: start;
      text-align: start;
      width: 20%;
    }
    h1 {
      bottom: 60%;
    }
    p {
      bottom: 15%;
    }
    button {
      position: absolute;
      bottom: 5%;
      left: 10%;
      transform: translateX(-50%);
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    margin: 60px 0 0;
    padding: 0;
    list-style-type: none;
    li {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 450px) {
      flex-flow: row wrap;
      justify-content: space-evenly;
      width: 100%;
      *:not(li:last-child) {
        margin-right: 5px;
      }
    }
    @media screen and(min-width:900px) {
      justify-content: space-between;
      position: absolute;
      margin-top: 10px;
      li {
        margin: 0;
      }
    }
  }
}
