$middle-screen: 980px;
$large-screen: 1320px;

.footer {
  width: 100%;
  .headerSection {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 495px;
    background: rgba($color: var(--gun-powder), $alpha: 0.25);
    border: 1px solid var(--gun-powder);
    h3 {
      margin: 65px 0;
      font-size: min(max(1.25vw, 18px), 24px);
    }
  }
  .mainSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    .logo {
      align-self: center;
      svg {
        width: 140px;
        height: auto;
        @media screen and (min-width: $middle-screen) {
          width: 200px;
        }
        @media screen and (min-width: $large-screen) {
          width: 240px;
        }
      }
      h4 {
        margin: 30px 0 0 0;
        font-size: min(max(1vw, 12px), 18px);
        span {
          color: var(--apple);
        }
      }
    }
    .info {
      margin-top: 24px;
      font-family: var(--secondary-font-family);
      h4 {
        margin: 0;
        font-size: 18px;
      }
      ul {
        margin-bottom: 0;
        padding: 0;
        list-style-type: none;
        font-size: 14px;
        li {
          margin-top: 10px;
        }
      }
    }
    @media screen and (min-width: 600px) {
      flex-flow: row;
      .info {
        margin: 0;
      }
    }
  }
  .footerSection {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background: rgba($color: var(--gun-powder), $alpha: 0.25);
    border: 1px solid var(--gun-powder);
    font-size: 10px;
    line-height: 15px;
    text-align: center;
  }
}
