$middle-screen: 980px;
$large-screen: 1320px;

.circle {
  height: 18px;
  width: 18px;
  background: var(--white);
  border-radius: 50%;
  @media screen and (min-width: var(--large-screen)) {
    height: 24px;
    width: 24px;
  }
}
.border1,
.border2,
.border3 {
  box-sizing: border-box;
  padding: 3px;
  border-radius: 50%;
}
.border1 {
  border: 3px solid;
  animation: pulse infinite normal 2s 0s;
}
.border2 {
  border: 2px solid;
  animation: pulse infinite normal 2s 0.5s;
}
.border3 {
  display: inline-block;
  border: 1px solid;
  animation: pulse infinite normal 2s 1s;
}

@keyframes pulse {
  0% {
    border-color: rgba($color: var(--white), $alpha: 0.6);
  }
  33% {
    border-color: rgba($color: var(--white), $alpha: 1);
  }
  66% {
    border-color: rgba($color: var(--white), $alpha: 0.4);
  }
  100% {
    border-color: rgba($color: var(--white), $alpha: 0.2);
  }
}
