@import url("https://use.typekit.net/rbr1pzd.css");
$primary-font-family: good-times, sans-serif;

$abbey: #46484c;
$aluminium: #a2a3a5;
$apple: #46b549;
$casal: #315d65;
$charade: #272833;
$gun-powder: #424259;
$kimberly: #717198;
$rolling-stone: #747679;
$santas-gray: #999eac;
$shark: #1c1d25;
$spindle: #bccbf0;
$sushi: #66b32e;
$white: #ffffff;
$woodsmoke: #181a1f;
