@import url('https://use.typekit.net/rbr1pzd.css');

:root {
    /*fonts*/
    --primary-font-family: good-times, sans-serif;
    --secondary-font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*base-colors*/
    --abbey-rgb: 70, 72, 76;
    /*--aluminium: #a2a3a5;*/
    /*--apple: #46b549;*/
    /*--casal: #315d65;*/
    /*--charade: #272833;*/
    /*--green-yellow: #adff2f;*/
    --gun-powder-rgb: 66, 66, 89;
    /*--kimberly: #717198;*/
    /*--rolling-stone: #747679;*/
    /*--santas-gray: #999eac;*/
    /*--shark: #1c1d25;*/
    /*--spindle: #bccbf0;*/
    /*--sushi: #66b32e;*/
    --white-rgb: 255, 255, 255;
    /*--woodsmoke: #181a1f;*/
    /*colors*/
    --abbey: #46484c;
    --aluminium: #a2a3a5;
    --apple: #46b549;
    --casal: #315d65;
    --charade: #272833;
    --green-yellow: #adff2f;
    --gun-powder: rgb(var(--gun-powder-rgb));
    --kimberly: #717198;
    --rolling-stone: #747679;
    --santas-gray: #999eac;
    --shark: #1c1d25;
    --spindle: #bccbf0;
    --sushi: #66b32e;
    --white: rgb(var(--white-rgb));
    --woodsmoke: #181a1f;
}
