@import url('https://use.typekit.net/rbr1pzd.css');

:root {
    /*fonts*/
    --primary-font-family: good-times, sans-serif;
    --secondary-font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*base-colors*/
    --abbey-rgb: 70, 72, 76;
    --aluminium-rgb: 162, 163, 165;
    --apple-rgb: 70, 181, 73;
    --casal-rgb: 49, 93, 101;
    --charade-rgb: 39, 40, 51;
    --green-yellow-rgb: 173, 255, 47;
    --gun-powder-rgb: 66, 66, 89;
    --kimberly-rgb: 113, 113, 152;
    --rolling-stone-rgb: 116, 118, 121;
    --santas-gray-rgb: 153, 158, 172;
    --shark-rgb: 28, 29, 37;
    --spindle-rgb: 188, 203, 240;
    --sushi-rgb: 102, 179, 46;
    --white-rgb: 255, 255, 255;
    --woodsmoke-rgb: 24, 26, 31;
    /*colors*/
    --abbey: rgb(var(--abbey-rgb));
    --aluminium: rgb(var(--aluminium-rgb));
    --apple: rgb(var(--apple-rgb));
    --casal: rgb(var(--casal-rgb));
    --charade: rgb(var(--charade-rgb));
    --green-yellow: rgb(var(--green-yellow-rgb));
    --gun-powder: rgb(var(--gun-powder-rgb));
    --kimberly: rgb(var(--kimberly-rgb));
    --rolling-stone: rgb(var(--rolling-stone-rgb));
    --santas-gray: rgb(var(--santas-gray-rgb));
    --shark: rgb(var(--shark-rgb));
    --spindle: rgb(var(--spindle-rgb));
    --sushi: rgb(var(--sushi-rgb));
    --white: rgb(var(--white-rgb));
    --woodsmoke: rgb(var(--woodsmoke-rgb));
}
